@import '../variables.scss';

.info {
  width: 100%;
  margin-top: 16px;
  font-family: $font-family;
  font-weight: 600;
  font-size: 14px;
  color: $colorTextBlack;
  line-height: 21px;
  display: flex;
  flex-direction: row;

  .info__title {
    font-size: 12px;
    color: #a0b0b9;
    text-transform: uppercase;
    line-height: 18px;
    width: 100%;
  }

  p {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
